<!-- hero section -->
<div class="container">
    <div class="row flex-lg-row-reverse align-items-center ">
      
        <div class="col-10 mx-auto col-sm-8 col-lg-6">
            <img src="images/header2.png" class="d-block mx-lg-auto img-fluid header_img" alt="" loading="lazy">
        </div>
  
        <div class="col-lg-6">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h4 class="fw-bold display-6">Admit Your Dream University Through WITCET </h4>
                </div>
            </div>
  
            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Unlock your potential with WITCET, the best online education platform for top scores and success.we offer expert guidance, interactive study materials, and practice tests to help you excel in exams. Best Education Site For Online Schooling. Get top score by learning india's largest content provider.
                    </p>
                </div>
            </div>
  
            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn header_btn px-4 me-md-2" href="https://t.me/+mKi_iF1EsEg2MDU1" role="button">Join our Telegram Channel</a>
                
            </div>
  
        </div>
    </div>
  </div>
  <!-- hero section end -->
  