<div class="container custom-sc">
    <div class="button-container">
        <a href="/notes" class="btn btn-custom">
            <span class="btn-icon" style="background-color: #d1b3ff;">
                <img src="/images/notepad.png" alt="B.Tech Notes">
            </span>
            B.Tech Notes
        </a>

        <a href="https://www.abesit.in/library/question-paper-bank/?dir=5074"  target="_blank" class="btn btn-custom">
            <span class="btn-icon" style="background-color: #ccffcc;">
                <img src="/images/light-bulb.png" alt="Quantum">
            </span>
            B.Tech PYQ
        </a>

        <a href="/quantums" class="btn btn-custom">
            <span class="btn-icon" style="background-color: #ccffcc;">
                <img src="/images/stack-of-books.png" alt="Quantum">
            </span>
            Quantum
        </a>

       

        <!-- <a href="pages/projects.html" class="btn btn-custom">
            <span class="btn-icon" style="background-color: #b3e0ff;">
                <img src="digital-icon.png" alt="Digital">
            </span>
            Projects
        </a> -->



    </div>
</div>
