<!-- some notes -->
<div class="d-flex justify-content-center align-items-center vh-10">
    <div class="container">
        <div class="row justify-content-center g-4">

                 
            <!-- Card 8 -->
            <div class="col-md-4 notice-item" data-category="2nd_year">
                <div class="card text-center">
                    <img src="../images/courses/2/dstl.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">Discrete Structures & Theory
                            of Logic <br> (BCS303) Complete Notes</h5>
                        <a href="/notes/DSTL" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Download Now</a>
                    </div>
                </div>
            </div>


               <!-- SPM -->
             <div class="col-md-4 notice-item" data-category="3rd_year">
                <div class="card text-center">
                    <img src="../images/courses/3/SPM.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">SOFTWARE PROJECT MANAGEMENT (BOE 068 ) <br> Complete Notes </h5>
                        <a href="/notes/SPM" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Download Now</a>
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <!-- <div class="col-md-4 notice-item" data-category="3rd_year">
                <div class="card text-center">
                    <img src="../images/courses/3/WT.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">Update Notice</h5>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
             -->
            <!-- Card 1 -->
            <!-- <div class="col-md-4">
                <div class="card text-center">
                    <img src="images/courses/2/Coa all 5.png" class="card-img-top " alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">Complete Notes of COA ( BCS 303 ) 3RD semester</h5>
                        <a href="#" class="btn btn-primary">Download Notes</a>
                    </div>
                </div>
            </div> -->
            <!-- Card 2 -->
            <!-- <div class="col-md-4">
                <div class="card text-center">
                    <img src="images/courses/2/maths 4 all 5 units.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">Complete Noteas of Maths 4 (BAS 303 ) 3RD semester</h5>
                        
                        <a href="#" class="btn btn-primary">Download Notes</a>
                    </div>
                </div>
            </div> -->
            <!-- Card 3 -->
            <!-- <div class="col-md-4">
                <div class="card text-center">
                    <img src="images/courses/1/Chemistry 5.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">Chemistry (BAS 102 ) Notes All 5 Units</h5>
                        
                        <a href="#" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Download Notes</a>
                    </div>
                </div>
            </div> -->



        </div>
    </div>
  </div>
<!-- some notes end -->
