<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UHV Notes</title>
     <!-- bootsrap -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <!-- css -->
    <link rel="stylesheet" href="../css/notes.css">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

   
</head>
<body>
 
    <%- include('../partials/navbar') %>


    <div class="container">
        <h1> Universal Human Values and Professional Ethics </h1>
        <center><p> BVE301 / BVE401/        
BVE301H / BVE401H   </p></center>

        <div class="section">
            <h2> UHV BVE301 / BVE401/BVE301H / BVE401H  </h2>

            <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11H5Aw9oeeVXfLdYTWU5gB17BcjqONLPS">
                    <p>UNIT-1 Introduction to Value Education    </p>
                </a>
                <div class="owner">Owner: Gateway</div>
            </div>

             <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=10sY_jUzDBZcIQr3rHky2_7WBhZgGveKy">
                    <p>UNIT-1 Introduction to Value Education    </p>
                </a>
                <div class="owner">Owner: RRSIMT</div>
            </div>

 <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11J1iowaHc7BZf4wij_puYp3AKvjrhJHe">
                    <p>UNIT-2 Understanding Harmony in the Human Being  </p>
                </a>
                <div class="owner">Owner: Gateway</div>
            </div>

             <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11Bxq_syDqHid3ChvMyPKPSdNhk-gjmdr">
                    <p>UNIT-2 Understanding Harmony in the Human Being  </p>
                </a>
                <div class="owner">Owner: Witcet</div>
            </div>

                 <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11L253AoEWySTAJXvPHbTMmtekKLT3Rqo">
                    <p>UNIT-3 Understanding Harmony in the Family and Society </p>
                </a>
              <div class="owner">Owner: Gateway</div>
            </div>

                 <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=10url3drSjuBloR1X5w1GqYd7g0ZQURHA">
                    <p>UNIT-3 Understanding Harmony in the Family and Society </p>
                </a>
              <div class="owner">Owner:Witcet</div>
            </div>



            <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11M_dBD0KKBqpRo3RgCefS_aicjf90azH">
                    <p>UNIT-4 Understanding Harmony in Nature and Existence  </p>
                </a>
                <div class="owner">Owner: Gateway</div>
            </div>

            
            <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=11OD0KsK5ri6VzWCIn4tX7ohkog3eF2_1">
                    <p>UNIT-5 Implications of the above Holistic Understanding of Harmony on 
Professional Ethics   </p>
                </a>
                <div class="owner">Owner: Gateway</div>
            </div>

             <!-- Subsection within Section 2 -->
             <div class="subsection">
                <h3>Last 7 Year Question Paper and Quantum</h3>

              <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=1JsNh7L48ZAvW2eOGx2Oo0C2ufXBXyiGJ">
                    <p>Important question all 5 units</p>
                </a>
                <div class="owner">Owner: Witcet</div>
            </div>

                 <div class="content-box">
                <a href="https://drive.google.com/uc?export=download&id=16I7OYva3-Cj7cNmmrji2Xc1SdpEkkFrF">
                    <p>UHV Book</p>
                </a>
              <div class="owner">Owner: witcet</div>
            </div>



                <div class="content-box">
                    <a href="https://drive.google.com/uc?export=download&id=1_6lUdxYtIO-9h-IzHMhwWHqe9sLfNz9s">
                        <p>UHV QYP 2017-2024</p>
                    </a>
                </div>

                <div class="content-box">
                    <a href="https://drive.google.com/uc?export=download&id=1eAIESnmx_87gZX81XPfGkIIibV5RnbFD">
                        <p>UHV  Quantun 2025</p>
                    </a>
                </div>
                

            </div>

        </div>

  </div>     


       


    <%- include('../partials/footer') %>

</body>
</html>
